<br>
<!-- header -->
<div class="orange-text text-darken-4 align center">
    <h1>ESPACE AGRICULTEUR</h1>
    <h2>Trouvez l'offre qui vous correspond</h2>
</div>

<br>
    <!-- Formulaire agriculteurs -->
    <div id="form_farmers">
        <div class="card-panel teal deep-orange accent-3 white-text align center">
            <h2>
                Veuillez remplir les champs suivants :
            </h2>
        </div>

        <form class="col s12 card-panel white orange-text text-darken-4">
            <div class="row">
                <div class="input-field col s6 orange-text text-darken-4">
                    <h3>Votre code postal</h3>
                </div>
                <div class="input-field col s6">
                  <form id="myform" method='POST' action='#' class="row ">
                    <input placeholder="Exemple : 28250" id="code postal" type="text" class="validate">
                  </form>
                </div>
            </div>
        </form>

        <form class="col s12 card-panel teal orange lighten-2 white-text">
            <div class="row">
                <div class="input-field col s6">
                    <h3>Produit</h3>
                </div>
                <div class="input-field col s6">
                    <select class="browser-default orange-text">
                        <option value="" disabled selected>Sélectionnez un produit</option>
                        <option value="1">Blé</option>
                        <option value="2">Maïs</option>
                        <option value="3">Colza</option>
                    </select>
                </div>
            </div>
        </form>

        <form class="col s12 card-panel white orange-text text-darken-4">
            <div class="row">
                <div class="input-field col s6">
                    <h3>Prix</h3>
                </div>
                <div class="input-field col s6">
                    <form id="myform" method='POST' action='#' class="row ">
                        <input placeholder="Veuillez indiquer le prix de vente (en €/T). Exemple : 205.45" id="prix" type="text" class="validate">
                    </form>
                </div>
            </div>
        </form>

        <form class="col s12 card-panel teal orange lighten-2 white-text">
            <div class="row">
                <div class="input-field col s6">
                    <h3>Quantité</h3>
                </div>

                <div class="input-field col s6">
                    <form id="myform1" method='POST' action='#' class="row ">
                          <input placeholder="Veuillez indiquer le prix de vente (en €/T). Exemple : 205.45" id="quantité" type="text" class="validate">
                    </form>
                </div>
            </div>

        </form>

        <form class="col s12 card-panel white orange-text text-darken-4">
            <div class="row">
                <div class="input-field col s6">
                    <h3>Qualité</h3>
                </div>
                <div class="input-field col s6 black-text">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="">
                                <div class="collapsible-header white">
                                    <i class="material-icons">filter_drama</i>First</div>
                                <div class="collapsible-body white">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </form>
        </br>
        <form class="col s12">
            <div class="row">
                <div class="col s12 align center">
                    <button class="btn waves-effect waves-light deep-orange darken-1" type="submit" name="action">Rechercher
                        <i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
        </form>

    </br>
</br>

<!-- recherche -->

<div id="results_farmers">
    <div class="card-panel teal deep-orange accent-3 white-text align center">
        <h2>
            Les offres qui vous correspondent :
        </h2>
    </div>

    <form class="col s12 card-panel white orange-text text-darken-4">
        <div class="row">
            <div class="col s4">Produit</div>
            <div class="col s6">Je suis un produit de qualité</div>
            <div class="col s2">€</div>
        </div>
    </form>

    <form class="col s12 card-panel teal orange lighten-2 white-text">
        <div class="row">
            <div class="col s4">Produit</div>
            <div class="col s6">Je suis un produit de qualité</div>
            <div class="col s2">€</div>
        </div>
    </form>
</div>

</br>
