<br>
<div class="green-text text-darken-3 align center">
    <h1>ESPACE ACHETEUR</h1>
    <h2>Postez une nouvelle offre </h2>
</div>

<br>
<div class="">
    <div class="card-panel teal green darken-3 white-text align center">
        <h2>
          Veuillez remplir les champs suivants :
        </h2>
    </div>

    <form class="col s12 card-panel teal white green-text text-darken-3">
        <div class="row">
            <div class="input-field col s6">
                <h3>Ville d'origine</h3>
            </div>
            <div class="input-field col s6">
                <select class="browser-default green-text text-darken-3">
                    <option value="" disabled selected>Sélectionnez une ville de départ</option>
                    <option value="1">Paris</option>
                    <option value="2">Rouen</option>
                </select>
            </div>
        </div>
    </form>

    <form class="col s12 card-panel teal green darken-3 white-text">
        <div class="row">
            <div class="input-field col s6">
                <h3>Produit</h3>
            </div>
            <div class="input-field col s6">
                <select class="browser-default green-text text-darken-3">
                    <option value="" disabled selected>Sélectionnez un produit</option>
                    <option value="1">Blé</2option>
                    <option value="2">Mais</option>
                    <option value="3">Colza</option>
                </select>
            </div>
        </div>
    </form>

    <form class="col s12 card-panel teal white green-text text-darken-3 ">
        <div class="row">
            <div class="input-field col s6">
                <h3>Quantité</h3>
            </div>
            <div class="input-field col s6">
                <form id='myform' method='POST' action='#' class="row ">
                  <div class="col s2">
                    <input id='minus' type='button' value='-' class='btn-floating btn-large waves-effect waves-light green darken-3 white-text'  field='quantity'/>
                    </div>
                    <div class="col s8">
                    <input type='text' name='quantity' value='0' class='qty green-text text-darken-3 center-align center align-center' style='font-size:20pt'/>
                    </div>
                    <div class="col s2">
                    <input id='plus' type='button' value='+' class='btn-floating btn-large waves-effect waves-light green darken-3 white-text' field='quantity'/>
                    </div>
                </form>
            </div>
        </div>
    </form>

    <form class="col s12 card-panel teal green darken-3 white-text ">
        <div class="row">
            <div class="input-field col s6">
                <h3>Qualité</h3>
            </div>
            <div class="input-field col s6 black-text">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header white">
                            <i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body white">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                        </div>
                    </li>
                </div>
            </div>
        </form>
</div>
        <br>

        <form class="col s12">
            <div class="row">
                <div class="  col s6 align center">
                  <button  class="btn waves-effect waves-light orange darken-2"  type="submit" name="action">Corriger
                      <i class="material-icons right">clear</i>
                  </button>
                </div>

                <div class="col s6 align center">
                  <button class="btn waves-effect waves-light green darken-2" type="submit" name="action">Valider
                      <i class="material-icons right">done</i>
                  </button>
                </div>
            </div>
        </form>
