<br>
<div class="green-text  align center">
    <h1>ESPACE ACHETEUR</h1>
    <h2>Trouvez l'offre qui vous correspond</h2>
</div>

<br>
<div class="">
    <div class="card-panel teal green darken-3 white-text">
        <p>
            <strong>Veuillez remplir les champs suivants</strong>
        </p>
    </div>

    <form class="col s12 card-panel teal green lighten-1 white-text ">
        <div class="row">
            <div class="input-field col s6">
                <p>Ville D'origine</p>
            </div>
            <div class="input-field col s6">
                <select class="browser-default black-text">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
    </form>

    <form class="col s12 card-panel teal green darken-3 white-text ">
        <div class="row">
            <div class="input-field col s6">
                <p>Produit</p>
            </div>
            <div class="input-field col s6">
                <select class="browser-default black-text">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
    </form>

    <form class="col s12 card-panel teal green lighten-1 white-text ">
        <div class="row">
            <div class="input-field col s6">
                <p>Quantité</p>
            </div>
            <div class="input-field col s6">
                <form id='myform' method='POST' action='#' class="row ">
                  <div class="input-field col s2">
                    <input id='minus' type='button' value='-' class='btn-floating btn-large waves-effect waves-light green darken-3 white-text'  field='quantity'/>
                    </div>
                    <div class="input-field col s2">
                    <input type='text' name='quantity' value='0' class='qty white-text'/>
                    </div>
                    <div class="input-field col s2">
                    <input id='plus' type='button' value='+' class='btn-floating btn-large waves-effect waves-light green darken-3 white-text' field='quantity'/>
                    </div>
                </form>
            </div>
        </div>
    </form>

    <form class="col s12 card-panel teal green darken-3 white-text ">
        <div class="row">
            <div class="input-field col s6">
                <p>Qualité</p>
            </div>
            <div class="input-field col s6 black-text">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header white">
                            <i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body white">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </div>
            </div>
        </form>

        <br>

        <form class="col s12">
            <div class="row">
                <div class="  col s6 align center">
                    <button class="btn waves-effect waves-light green" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

                <div class="col s6 align center">
                    <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
