.logo
{
  width: 45%;
}
/*Acheteurs*/

h1
{
  font-weight : bold;
  font-size: 55px;
  margin:  0;
}

h2
{
  font-weight: bold;
  font-size: 30px;
  margin: 5px;
}

h3
{
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
}

.card-panel.teal.green.darken-3.white-text.align.center, .col.s12.card-panel.teal.white.green-text, .col.s12.card-panel.teal.green.darken-3.white-text
{
  margin: 0;
  box-shadow: none;
}



.browser-default.green-text.text-darken-3
{
  border: 2px solid green;
}

#form_sellers
{
border: 2px solid #ff6624;
}

#results_sellers
{
  border: 2px solid #ff6624;
}

/*.col.s12.card-panel.teal.white.green-text.text-darken-3, .col.s12.card-panel.teal.green.darken-3.white-text, .col.s12.card-panel.teal.white.green-text.text-darken-3, .col.s12.card-panel.teal.green.darken-3.white-text
{
  border:  2px solid green;
}*/

/*Agriculteurs*/

.card-panel.teal.deep-orange.accent-3.white-text, .col.s12.card-panel.white.orange-text.text-darken-4, .col.s12.card-panel.teal.orange.lighten-2.white-text
{
  margin: 0;
  box-shadow: none;
  font-weight: bold;
  padding: 5px 0 5px 0;
}

#form_farmers
{
border: 2px solid #ff6624;
}

#results_farmers
{
  border: 2px solid #ff6624;
}

.qty.orange-text.text-darken-4.center-align.center.align-center
{
  border: 2px solid #ff6624;
}

.qty.white-text.center-align.center.align-center
{
  border: 2px solid white;
}
